<div class="active-host">
    <div class="active-host-info">
        <p>Client: {{username}}</p>
        <p>Contact No: {{contact}}</p>
        <p>Car: {{car}}</p>
        <p>Job Type: {{type}}</p> <br>
        <p>Quotation Amount: ₱{{price}}</p>
        <p>Paid Balance: ₱{{paid}}</p>
        <p>Outstanding Balance: ₱{{outstanding}}</p>
    </div>

    <form action="/addpaidbalance" method="POST">
        <p>Add Paid Balance:</p>
        <input type="number" min="0" name="amount" placeholder="Enter amount here...">
        <input type="hidden" name="reqid" value="{{_id}}">
        <button type="submit" class="global-button">ENTER</button>
    </form>
</div>
<br>

<br>

<!--
{{#if (canSettle outstanding)}}
    <form action="/settle" method="POST">
        <input type="hidden" name="reqid" value="{{_id}}">
        <button type="submit">SETTLE</button>
    </form>
{{/if}}-->