<div class="active-user card">
    <p class="title">{{car}}</p>
    <p>Job Type: {{type}}</p>
    <p><strong>STATUS: <span class="status">{{status}}</span></strong></p>
    
    <div class="active-user-details">
        <div>
            <p>Quotation Amount:</p>
            <p>₱{{price}}</p>
        </div>
        <div>
            <p>Paid Balance:</p>
            <p>₱{{paid}}</p>
        </div>
        <div>
            <p>Outstanding Balance:</p>
            <p>₱{{outstanding}}</p>
        </div>
    </div>
</div>