<div class="active-user">
    <p>Car: {{car}}, Job Type: {{type}}</p> <br>
    <p>Quotation Amount: ₱{{price}}</p>
    <p>Paid Balance: ₱{{paid}}</p>
    <p>Outstanding Balance: ₱{{outstanding}}</p>
</div>