<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class="request-user">
    <p>Job Type: {{type}}, Date: {{date}}</p>
    <a href="/acceptreq?reqid={{_id}}" class="global-button">ACCEPT</a>
    <a href="/declinereq?reqid={{_id}}" class="global-button">DECLINE</a> <br>
    <a href="/uviewpending?reqid={{_id}}" class="global-button">VIEW INFO</a>
</div>