<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class ="test">
    <form class="myform" method="GET" action="/viewreq">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button onclick="test()">{{username}} | {{car}} {{type}} | {{date}}</a>
    </form>
</div>

