<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class ="test">
    <form class="myform" method="GET" action="/uviewreq">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button onclick="test()">{{username}} | {{car}} {{type}} | {{date}}</a>
    </form>
</div>