<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class ="test request-host">
    <p>Job Type: {{type}}, Date: {{date}}</p>
    <p>Client: {{username}} | Contact: {{contact}}</p>
    <form class="myform" method="GET" action="/hviewpending">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button onclick="test()" class="global-button">View Request</button>
         <a href="/deletereq?reqid={{_id}}" class="global-button">Delete Request</a> <br>
    </form>
   
</div>