<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class="request-user card">
    <p class="title">{{car}}</p>
    <p>Job Type: {{type}}, Date: {{date}}</p>
    <p>Estimation:
        {{#if (Equal price -1)}}
        <i>Pending...</i>
        {{else}}
        ₱{{price}}
        {{/if}}
    </p>
    <a href="/acceptreq?reqid={{_id}}" class="global-button{{#if (Equal price -1)}} global-button-disabled disabled-button{{/if}}">ACCEPT</a>
    <a href="/declinereq?reqid={{_id}}" class="global-button gray-button{{#if (Equal price -1)}} gray-button-disabled disabled-button{{/if}}">DECLINE</a> <br>
    <form method = "post" action = "/uviewpending">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button class="global-button white-button" type="submit">VIEW INFO</a>
    </form>
</div>