<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class="request-user">
    <p>Job Type: {{type}}, Date: {{date}}</p>
    <a href="/acceptreq?reqid={{_id}}" class="global-button">ACCEPT</a>
    <a href="/declinereq?reqid={{_id}}" class="global-button">DECLINE</a> <br>
    <form method = "post" action = "/uviewpending">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button class="global-button" type="submit">VIEW INFO</a>
    </form>
</div>