<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

{{!-- old: request-host --}}
<div class ="test card pending-host-card">
    <p id="title">{{car}}</p>
    <p>Job Type: {{type}}, Date: {{date}}</p>
    <p>Client: {{username}} | Contact: {{contact}}</p>
    <form class="myform" method="POST" action="/hviewpending">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button onclick="test()" class="global-button white-button">VIEW REQUEST</button>
        <a href="/deletereq?reqid={{_id}}" class="global-button white-button">DELETE REQUEST</a> <br>
    </form>
   
</div>