<div class="thread-container">
    <h2 class="messages-thread-text">Messages Thread</h2>
    <div class="thread">
    {{#each messages}}
        <div class="thread-message">
            <p>{{username}}:</p>

            {{#if url}}
            <p class="request_id" hidden>{{../_id}}</p>
            <p class="message_id" hidden>{{_id}}</p>
            <div><img src="{{url}}" alt="{{content}}"></div>
            
            {{else}}
            <p>{{content}}</p>
            {{/if}}

            <p class="message-date">sent {{sentdate}}</p>
        </div>
    {{/each}}
    </div>

    {{#unless (Equal status "Deleted")}} {{!So the comment function doesn't render on deleted requests}}
        <form action="/sendmessage" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="reqid" value="{{_id}}">
            <div class="message-input">
                <textarea name="content" placeholder="Write your message here..." required></textarea>

                <label for="file">
                    <img src="./IMAGES/attach.png" alt="attachment icon">
                </label>
                <input id="file" type="file" name="file" accept="image/*">

                <button class="global-button" type="submit">SEND</button>
            </div>
        </form>
    {{/unless}}
</div>