<!DOCTYPE html>
<html>
	<head>
		<title>AutoWorks</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@500&family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="CSS/global.css">
		<link rel="stylesheet" href="CSS/components.css">
	</head>
	<body>
		<nav>
			{{#if isHost}}
			<a href="/hhome">
			{{else}}
			<a href="/home">
			{{/if}}
				<img src="IMAGES/AutoWork.png" alt="AutoWorks Logo" id="logo">
			</a>
			
			<img src="IMAGES/menu.png" alt="menu icon" id="menu-icon">
			
			<div>
				<img src="IMAGES/close.png" alt="close icon" id="close-icon">
				{{#if isHost}}
				<a href = "/hviewallpending">CUSTOMER ESTIMATION REQUESTS</a>
				<a href = "/hviewactive">ACTIVE JOBS</a>
				<a href = "/viewgeneratereport">GENERATE REPORT</a>
				<a href = "/viewsuppliers">SUPPLIERS</a>
				<a href = "/hviewnotifications">NOTIFICATIONS {{#if notifcount}} ({{notifcount}}) {{/if}}</a>
				{{else}}
				<a href = "/createreq">CREATE ESTIMATION REQUEST</a>
				<a href = "/uviewallpending">PENDING FOR CONFIRMATION</a>
				<a href = "/uviewactive">ONGOING JOBS</a>
				<a href = "/uviewnotifications">NOTIFICATIONS {{#if notifcount}} ({{notifcount}}) {{/if}}</a>
				{{/if}}

				<p>{{username}}<a href="/logout"> (SIGN-OUT)</a></p>
			</div>
		</nav>