{{> wrapper_header page_title='GENERATE REPORT'}}

<div class="container">
{{#if startDate}}

    <p class="report-title">REVENUE FOR</p>
    {{#if (Equal startDate endDate)}}
    <p class="report-title">{{startDate}}</p>
    {{else}}
    <p class="report-title">{{startDate}} - {{endDate}}</p>
    {{/if}}
    
    <div class="card report-card">
        <p>Revenue: ₱{{revenue}}</p>
        <p>Total Price of Transactions: ₱{{total}}</p>
        <p>Outstanding Balance Remaining: ₱{{outstanding}}</p>
        <p>Settled Transactions: {{settled}}</p>
    </div>

{{/if}}

    <form action="/generatereport" class="report-form">
        <div>
            <p>START DATE:</p>
            <input type="month" name="start" max={{date}} value={{date}} required>
        </div>
        <div>
            <p>END DATE:</p>
            <input type="month" name="end" max={{date}} min={{date}} value={{date}} required>
        </div>
        
        <div id="report-enter"><button type="submit" class="global-button">GENERATE REPORT</button></div>
    </form>
</div>



{{> wrapper_footer}}