{{> wrapper_header page_title='VIEW REQUEST INFORMATION'}}

<div class="container">
    <div class="view-request-container">
        <div class="request-info">
            <div class="request-info-top">
                <div id="request-title-date">
                    <p id="title">{{car}}</p>
                    <p id="date">{{date}}</p>
                </div>
                <p><strong>Job Type</strong>: {{type}}</p>
                <p><strong>Description</strong>: {{description}}</p>
                <p><strong>Estimation</strong>:
                    {{#if (Equal price -1)}}
                    <i>Pending...</i>
                    {{else}}
                    ₱{{price}}
                    {{/if}}
                </p>
                <div class="request-images">
                    {{#each images}}
                    <div>
                        <img src="{{image_link}}" alt="{{image_id}}">
                    </div>
                    {{/each}}
                </div>
            </div>
            
            {{#unless (Equal status "Deleted")}} {{!So the send button doesn't appear when viewing a deleted request}}
                {{#unless (Equal status "Accepted")}}  {{!So the send button doesn't appear when viewing a request with a set price}}
                    <form method = "post" action = "/sendquotation">
                        <input type="hidden" name="reqid" value= "{{_id}}">
                        <div class="quotation-input request-info-btn">
                            <input type="number" name="price" placeholder="Input quotation..." min="0" required>
                            <button class="global-button" type = "submit">{{#if (Equal price -1)}}SEND{{else}}Edit{{/if}}</button>
                        </div>
                    </form>
                {{/unless}}
            {{/unless}}
        </div>

        {{> thread}}
    </div>
</div>

<div id="fullpage">
    <div>
        <img src="IMAGES/download.png" id="download-button" alt="download button">
        <img src="IMAGES/close-full.png" id="close-full-button" alt="close button">
    </div>
    <p id="img-url" hidden></p>
    <p id="img-name" hidden></p>
</div>



{{> wrapper_footer}}