{{> wrapper_header}}

<h1 class="title">View Request Information</h1>

<div class="view-request-container">
    <div class="request-info">
        <p>Job Type: {{type}}, Date: {{date}}</p>
        <p>Description: {{description}}</p>
        <p>Car: {{car}}</p>
        <p>Client: {{client_username}}</p>
        <p>Contact No: {{contact}}</p>
        <p>Request status: {{status}}</p>
        <p>Request Price: {{price}}</p>
        <div class="request-images">
            <img src="{{image}}" alt="job-image">
        </div>
        <form method = "post" action = "/sendquotation">
            <input type="hidden" name="reqid" value= "{{_id}}">
            <div class="quotation-input">
                <input type="number" name="price" placeholder="Input quotation..." required>
                <button class="global-button" type = "submit">SEND</button>
            </div>
        </form>
    </div>

    {{> thread}}
</div>

{{> wrapper_footer}}