{{> wrapper_header}}

Car: {{car}} <br><br>
Request Type: {{type}} <br><br>
Request Desc:{{description}} <br><br>
<img src="{{image}}"> <br><br>
Request Date: {{date}} <br><br>
Request Status: {{status}} <br><br>
Request Price: {{price}} <br><br>
<form method = "post" action = "/sendquotation">
    <input type="hidden" name="reqid" value= "{{_id}}">
    <input type="number" name="price" required><br><br>
    <button type = "submit">SEND</button>
</form>

_________________________________ <br><br>

{{> thread}}

<a href = "/logout">Logout</ahref>

{{> wrapper_footer}}