{{> wrapper_header}}

<div class="container">
    <h1 class="title">Report for {{date}}</h1>
    <p>Revenue: ₱{{revenue}}</p>
    <p>Total Price of Transactions: ₱{{total}}</p>
    <p>Outstanding Balance Remaining: ₱{{outstanding}}</p>
    <p>Settled Transactions: {{settled}}</p>
</div>

{{> wrapper_footer}}