Client: {{username}} <br><br>
Contact No: {{contact}} <br><br>
Car: {{car}} <br><br>
Job Type: {{type}} <br><br>
Quotation Amount: ₱{{price}} <br><br>
Paid Balance: ₱{{paid}} <br><br>
Outstanding Balance: ₱{{outstanding}} <br><br><br>

<form action="/addpaidbalance" method="POST">
    Add Paid Balance: <br>
    <input type="number" min="0" name="amount">
    <input type="hidden" name="reqid" value="{{_id}}">
    <button type="submit">ENTER</button>
</form>

{{#if canSettle}}
    <form action="/settle" method="POST">
        <input type="hidden" name="reqid" value="{{_id}}">
        <button type="submit">SETTLE</button>
    </form>
{{/if}}
_________________________________ <br><br>