{{> wrapper_header}}

<div class="container">
    <h1 class="title">View Request Information</h1>
    <div class="view-request-container">
        <div class="request-info">
            <p>Job Type: {{type}}, Date: {{date}}</p>
            <p>Description: {{description}}</p>
            <p>Car: {{car}}</p>
            <p>Client: {{client_username}}</p>
            <p>Contact No: {{contact}}</p>
            <p>Request status: {{status}}</p>
            <p>Request Price: {{price}}</p>
            <div class="request-images">
                <div>
                    <img src="{{image}}" alt="{{image_id}}">
                </div>
            </div>
            {{#unless (Equal status "Deleted")}} {{!So the send button doesn't appear when viewing a deleted request}}
                <form method = "post" action = "/sendquotation">
                    <input type="hidden" name="reqid" value= "{{_id}}">
                    <div class="quotation-input">
                        <input type="number" name="price" placeholder="Input quotation..." min="0" required>
                        <button class="global-button" type = "submit">SEND</button>
                    </div>
                </form>
            {{/unless}}
        </div>

        {{> thread}}
    </div>
</div>

<div id="fullpage">
    <button class="global-button">X</button>
    <button class="global-button" id="download-button">Download</button>
    <p id="img-url" hidden></p>
    <p id="img-name" hidden></p>
</div>



{{> wrapper_footer}}