{{> wrapper_header page_title='EDIT REQUEST INFORMATION'}}
<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script></head>

<script type="text/javascript">
		$(document).ready(function () {
			$('#phadder').click(function() {
				$('#more-photos').append('<input type="file" name="images" accept="image/*" required> <br><br>');
			});
		});
</script>

<div class="container">
	<div>
		<form action="/uviewpending" method="POST" id="edit-back">
			<input type="hidden" name="reqid" value="{{ogid}}">
			<button type="submit" class="back-button">< BACK</button><br>
		</form>
		<form class="create-edit-req" action = "/ueditrequestconfirm" method = "POST" enctype="multipart/form-data">
			<p class="error-msg">{{error_msg}}</p>
			<div>
				<input type="text" name="rcar" placeholder="Car Model/manufacturer" value="{{car}}" required> <br>
				<select name="rtype" value="{{type}}" required>
					<option value="" selected hidden>Select job type...</option>
					<option value="Paint">Paint</option>
					<option value="Wheels">Wheels</option>
					<option value="Rim">Rim</option>
					<option value="Hood">Hood</option>
					<option value="Engine">Engine</option>
				</select> <br>
				<textarea name="rdesc" cols="60" rows="10" placeholder="Description...">{{description}}</textarea> <br>
				<input type="file" name="images" accept="image/*"> <br><br>
				<input type="hidden" name="ogid" value="{{ogid}}">
				<input type="hidden" name="ogpic" value="{{image}}">
				<div id="more-photos"></div>
				<button type="button" class="global-button" id="phadder">Add Photo</button>
				<div class="create-edit-btn"><button type = "submit" class="global-button">EDIT</button></div>
			</div>
		</form>
	</div>

</div>

{{> wrapper_footer}}