{{> wrapper_header}}

<h1 class="title">Edit Request Information</h1>

<form class="create-edit-req container" action = "/ueditrequestconfirm" method = "POST" enctype="multipart/form-data">
	<p class="error-msg">{{error_msg}}</p>
	<div>
		<input type="text" name="rcar" placeholder="Car Model/manufacturer" value="{{car}}" required> <br>
		<select name="rtype" value="{{type}}" required>
			<option value="" selected hidden>Select job type...</option>
			<option value="Paint">Paint</option>
			<option value="Wheels">Wheels</option>
			<option value="Rim">Rim</option>
			<option value="Hood">Hood</option>
			<option value="Engine">Engine</option>
		</select> <br>
		<textarea name="rdesc" cols="60" rows="10" placeholder="Description...">{{description}}</textarea> <br>
		<input type="file" name="image" accept="image/*">
		<input type="hidden" name="ogid" value="{{ogid}}">
		<input type="hidden" name="ogpic" value="{{image}}">
		<button type = "submit" class="global-button">EDIT</button>
	</div>
</form>

{{> wrapper_footer}}