{{> wrapper_header}}
<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class="container">
    <h1 class="title">View Request Information</h1>
    <div class="view-request-container">
        <div class="request-info">
            <p>Car: {{car}}</p>
            <p>Request Type: {{type}}</p>
            <p>Request Description: {{description}}</p>
            <p>Request Date: {{date}}</p>
            <p>Request Status: {{status}}</p>
            <p>Request Price: {{price}}</p>
            <div class="request-images">
                <div>
                    <img src="{{image}}" alt="{{image_id}}">
                </div>
            </div>

            {{#if (Equal price -1)}}
                {{#unless (Equal status "Deleted")}} {{!So the edit button doesn't appear when viewing a deleted request}}
                    <div class = "test">
                        <form class="myform" method="POST" action="/ueditrequest">
                            <input type="hidden" name="reqid" value= "{{_id}}">
                            <button class="global-button edit-button" onclick="test()">Edit Request</button>
                        </form>
                    </div>
                {{/unless}}
            {{/if}}
        </div>

        {{> thread}}
    </div>
</div>

<div id="fullpage">
    <button class="global-button">X</button>
    <button class="global-button" id="download-button">Download</button>
    <p id="img-url" hidden></p>
    <p id="img-name" hidden></p>
</div>


{{> wrapper_footer}}