{{> wrapper_header page_title='VIEW REQUEST INFORMATION'}}

<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

<div class="container">
    <div class="view-request-container">
        <div class="request-info">
            <div class="request-info-top">
                <div id="request-title-date">
                    <p id="title">{{car}}</p>
                    <p id="date">{{date}}</p>
                </div>
                <p><strong>Job Type</strong>: {{type}}</p>
                <p><strong>Description</strong>: {{description}}</p>
                <p><strong>Estimation</strong>:
                    {{#if (Equal price -1)}}
                    <i>Pending...</i>
                    {{else}}
                    ₱{{price}}
                    {{/if}}
                </p>
                <div class="request-images">
                    {{#each images}}
                        <div>
                            <img src="{{image_link}}" alt="{{image_id}}">
                        </div>
                    {{/each}}
                </div>
            </div>
            

            {{#if (Equal price -1)}}
                {{#unless (Equal status "Deleted")}} {{!So the edit button doesn't appear when viewing a deleted request}}
                    <div class = "test request-info-btn">
                        <form class="myform" method="POST" action="/ueditrequest">
                            <input type="hidden" name="reqid" value= "{{_id}}">
                            <button class="global-button edit-button" onclick="test()">EDIT</button>
                        </form>
                    </div>
                {{/unless}}
            {{else}}
                {{#unless (Equal status "Accepted")}} {{!So this doesn't show on an accepted/deleted request}}
                    {{#unless (Equal status "Deleted")}}
                Quotation has been sent! <br>Please go to the 'Pending for Confirmations' page to accept or decline!
                    {{/unless}}
                {{/unless}}
            {{/if}}
        </div>

        {{> thread}}
    </div>
</div>

<div id="fullpage">
    <div>
        <img src="IMAGES/download.png" id="download-button" alt="download button">
        <img src="IMAGES/close-full.png" id="close-full-button" alt="close button">
    </div>
    <p id="img-url" hidden></p>
    <p id="img-name" hidden></p>
</div>


{{> wrapper_footer}}