{{> wrapper_header}}
<script>
    function test() {
        $(event.currentTarget).closest('.test').find('.myform').submit();
    }
</script>

Car: {{car}} <br><br>
Request Type: {{type}} <br><br>
Request Desc:{{description}} <br><br>
<img src="{{image}}"> <br><br>
Request Date: {{date}} <br><br>
Request Status: {{status}} <br><br>
Request Price: {{price}} <br><br>

{{#if (Equal price -1)}}
<div class ="test">
    <form class="myform" method="GET" action="/ueditrequest">
        <input type="hidden" name="reqid" value= "{{_id}}">
        <button onclick="test()">Edit Request</button>
    </form>
</div>
{{/if}}

_________________________________ <br><br>

{{> thread}}

<a href = "/logout">Logout</ahref>

{{> wrapper_footer}}